body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;

}

@keyframes smoke-rise {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(-150%);
  }
}

@keyframes smoke-drift {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  50% {
    transform: translateX(-50%) rotate(10deg);
  }
  100% {
    transform: translateX(-50%) rotate(0deg);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-head{
  margin: 0px auto;
}

.home-body{
  background-image: url('/public/bg6.jpg');
  background-size: contain;
  background-position-y: bottom;
  background-position-x: 1600px;
  /* background-position: top ; */
}

.home-page {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
}

.home-container {
  max-width: 700px; 
  height: auto;
  overflow: hidden;
  position: relative;
  margin: auto;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

.home-container img {
  width: 100%;
  height: auto;
  display: block; 
  border-radius: 10px; /* Ensures the image corners match the container */
  object-fit: cover; /* Ensures the image covers the container without stretching */
  transition: transform 0.3s ease; 
}

.home-container:hover img {
  transform: scale(1.05); /* Slightly scales up the image on hover for an interactive effect */
}

.brand-text1 {
  margin-top: 0px;
  margin-left: 45%;
  font-family: cursive;
  font-size: 70px; /* Adjust font size as needed */
  text-align: center;
  margin-bottom: 30px; /* Add spacing below the brand name */
  color: #fff; /* White color for better visibility */
  text-transform: uppercase; /* Convert text to uppercase */
  letter-spacing: 2px; /* Increase letter spacing for a bold appearance */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Adding a subtle shadow effect */
  background: linear-gradient(to right, #fc6076, #ffd344); /* Adding gradient background */
  -webkit-background-clip: text; /* Clipping text to the background */
  /* -webkit-text-fill-color: transparent; Making text transparent */
  animation: neonGlow 1.5s infinite alternate; /* Adding neon glow animation */
}

.brand-text2 {
  margin-top: 0px;
  margin-left: 45%;
  font-family: cursive;
  font-size: 70px; /* Adjust font size as needed */
  text-align: center;
  margin-bottom: 30px; /* Add spacing below the brand name */
  color: #fff; /* White color for better visibility */
  text-transform: uppercase; /* Convert text to uppercase */
  letter-spacing: 2px; /* Increase letter spacing for a bold appearance */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Adding a subtle shadow effect */
  background: linear-gradient(to right, #fc6076, #ffd344); /* Adding gradient background */
  -webkit-background-clip: text; /* Clipping text to the background */
  /* -webkit-text-fill-color: transparent; Making text transparent */
  animation: neonGlow 1.5s infinite alternate; /* Adding neon glow animation */
}

@keyframes neonGlow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #1f1e1e, 0 0 15px #1f1e1e, 0 0 20px #1f1e1e, 0 0 25px #1f1e1e, 0 0 30px #1f1e1e, 0 0 35px #1f1e1e;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 15px #1f1e1e, 0 0 20px #1f1e1e, 0 0 25px #1f1e1e, 0 0 30px #1f1e1e, 0 0 35px #1f1e1e, 0 0 40px #1f1e1e;
  }
}

.slogan{
padding-top: 20px;
margin-left: 64%;
}




/*Navbar*/

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f1b355;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* .custom-select {
  background-color: lightgray;
  border-radius: 5px;
  font-weight: bold;
} */

.nav-link:hover + .dropdown-menu {
  display: block;
  margin-top: 26px;
  margin-right: 25px;
}

.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
}

.dropdown-menu ul li {
  padding: 10px;
}

.dropdown-menu ul li:hover {
  background-color: #f0f0f0;
}

.box-drop{
  font-family: monospace;
  background-color: #f1b355;
  color: black;
  font-weight: bolder;
}

/* .demo-simple-select-label{
  background-color: #f1b355;
} */

.dropdown-link {
  text-decoration: none;
  color: black;
  font-family: cursive;
  
  /* background-color: #b36b00; */
}

.navbar-nav {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none; 
  background-color: #f1b355;
  font-weight: bolder;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.897);
  margin: 0px;
  font-size: 20px;
  font-family: monospace;
}

.nav-icon {
  width: 15%; 
  height: auto;
  vertical-align: middle;
  transition: transform 0.5s ease;
}

.nav-icon:hover{
  transform: rotateY(10deg) scale(1.1);
}

.links{
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none; 
}

.links li {
  margin-right: 50px;
}

.links li:last-child {
  margin-right: 10px;
}

.navbar-container {
  position: sticky;
  top: 0;
  z-index: 1000;
}


.nav-link {
  text-decoration: none;
  color: #000000;
  /* transition: transform 0.5s ease; */
}

.nav-link:hover {
  color: white;
  /* transform: rotateY(10deg) scale(2); */
}

.footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333; /* Adjust as needed */
  color: white;
  text-align: center;
  padding: 20px 0; /* Adjust padding as needed */
}

.ad1{
  margin-left: 20px;
}

.adimg{
  height: 200px;
  width: 200px;
}

.simg1{
  margin-left: 69%;
  height: 300px;
  width: 400px;
  position: absolute;
  top: 20%;
}


/*Product Page*/

.products-full {
  position: relative;
}

.products-full::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/public/bg1.png');
  opacity: 0.3; 
}

/* Optionally, you might want to ensure the content is above the pseudo-element */
.products-full > * {
  position: relative;
  z-index: 1;
}


.products {
  margin: 0 auto;
  max-width: 1500px;
  padding: 20px;
}


.products h2 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
  font-family: fantasy ;
  letter-spacing: 3px;
}

.products h2:hover{
  color: #b36b00;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.product {
  margin-top: 30px;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  transition:  .5s ease all;
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 10px 12px 5px rgba(0, 0, 0, 0.432);
  border-right: 3px solid #e79e30; 
  border-bottom: 3px solid #f1b355;
}

.product img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 15px;
  object-fit: contain;
  transition: transform 0.5s ease;
}

.product img:hover {
  transform: rotateY(10deg) scale(1.1);
}


.product h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: black;
}

.product p {
  font-size: 18px;
  margin-bottom: 15px;
  color: black;
}


.product button {
  background-color: #b36b00ab;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product button:hover {
  background-color: #b36b00;
}


/*Register Page*/

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.226);
  min-height: 648px; 
  background-image: url('/public/reg.jpg');
  background-size: cover; /* Cover the entire container */
  background-position: center; 
  justify-content: center;
  align-items: center;
}

.container h2 {
  text-align: center;
}

.container form {
  display: flex;
  flex-direction: column;
}

.container form div {
  margin-bottom: 15px;
}

.container form label {
  font-weight: bolder;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container form {
  width: 50%; /* Adjust as needed */
}

.container form input[type="text"],
.container form input[type="email"],
.container form input[type="password"] {
  margin-top: 5px;
  width: 100%; /* Take full width of the form */
  padding: 10px;
  border: none;
  border-bottom: 2px solid #b36b00;
  border-radius: 0;
  outline: none;
  margin-bottom: 10px; /* Adjust spacing between input fields */
  opacity: 50%;
}

.container h2 {

  margin-right: 38.5%;
  margin-bottom: 50px;
  color: #b36b00;
  font-family: "Helvetica Neue", Arial, sans-serif; /* Adjust the font family as needed */
  font-weight: bold; /* Adjust font weight as needed */
  font-size: 24px; /* Adjust font size as needed */
}


.container form button {
  width: 100px;
  align-items: center !important;
  padding: 10px;
  background-color: #eebc508c;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.container form button:hover {
  background-color: #b36b00;
}

.errors {
  color: red;
  font-size: 14px;
}

/*Cart Page*/

.cart-body{
  /* background-image: url('/public/bg11.png'); */
  /* background-repeat: no-repeat; */
}

.cart {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  border: white;
  background-color: #b36b003d; /* Background color with 50% opacity */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.226);
  min-height: 650px; /* Adjust height as needed */
  background-image: url('/public/s-img3.png');
  /* background-image: url('/public/bg8.jpg'); */
  background-size: contain; /* Ensures the background image covers the entire element */
  background-repeat: repeat;
}


.cart h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.cart-item {
  border: #000000;
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: #fcc603;
}

.cart-item img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.cart-item h3 {
  font-size: 18px;
  margin: 0;
}

.cart-item p {
  font-size: 16px;
  margin: 0;
}

.quantity {
  display: flex;
  align-items: center;
}

.quantity button {
  background-color: #b36b0063;
  border: none;
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

.quantity button:hover {
  background-color: #b36b00ab;
}

.quantity span {
  margin: 0 10px;
  font-size: 18px;
}

.item-remove-btn{
  background-color: #b36b0063;
  border: none;
  height: 30px;
  border-radius: 5px;
}

.item-remove-btn:hover{
  background-color: #b36b00ab;
}

.total {
  font-size: 20px;
  margin-top: 20px;
  text-align: right;
}

/*banner*/
.banner {
  height: 500px !important;
  background-size: contain;
  background-position: center;
  
}

.bannimg{
  width: 100px !important;
  height: 400px !important;
  object-fit: cover;
}

.banner-content {
  text-align: center;
  padding: 20px;
  color: white; /* Adjust text color as needed */
}

.ff{
  color: #ffffff;
}


.MuiFormControl-root{
  margin-left: 20px;
  /* background-color: #000000; */
}

.form-drop{
  border: none;
  margin-left: 20px;
  /* background-color: red; */
}

.MuiInputBase{
  color: red;
}

.MuiFormLabel{
  color: red;
  background-color: violet;
}

.MuiSelect-select{
  color: violet;
}
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  border: none !important;
}

.button1 {
  background-color: #b36b00ab;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 575px;
  font-weight: lighter;
  font-family: fantasy ;
  letter-spacing: 2px;
  transition: transform 0.5s ease;
}

.button2 {
  background-color: #b36b00ab;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
  font-weight: lighter;
  font-family: fantasy ;
  letter-spacing: 2px;
  transition: transform 0.5s ease;
}

.button1:hover {
  background-color: #333333ce;
  transform: rotateY(10deg) scale(1.1);
}

.button2:hover {
  background-color: #333333ce;
  transform: rotateY(10deg) scale(1.1);
}

/*Login Page*/

.container-log {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.226);
  min-height: 648px; 
  background-image: url('/public/reg.jpg');
  background-size: cover; /* Cover the entire container */
  background-position: center; 
  justify-content: center;
  align-items: center;
}

.container-log h2 {
  text-align: center;
}

.container-log form {
  display: flex;
  flex-direction: column;
}

.container-log form div {
  margin-bottom: 15px;
}

.container-log form label {
  font-weight: bolder;
}

.container-log {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-log form {
  width: 50%; /* Adjust as needed */
}

.container-log form input[type="text"],
.container-log form input[type="email"],
.container-log form input[type="password"] {
  margin-top: 5px;
  width: 100%; /* Take full width of the form */
  padding: 10px;
  border: none;
  border-bottom: 2px solid #b36b00;
  border-radius: 0;
  outline: none;
  margin-bottom: 10px; /* Adjust spacing between input fields */
  opacity: 50%;
}

.container-log h2 {

  margin-right: 790px;
  margin-bottom: 50px;
  color: #b36b00;
  font-family: "Helvetica Neue", Arial, sans-serif; /* Adjust the font family as needed */
  font-weight: bold; /* Adjust font weight as needed */
  font-size: 24px; /* Adjust font size as needed */
}

.container-log p {
    font-size: larger;
    font-weight: 700;
    margin-left: 360px;
    margin-top: 30px;
    color: #b36b00;
}

.buttonlog{
  width: 100px;
  align-items: center !important;
  padding: 10px;
  background-color: #eebc508c;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 400px;
}

.buttonnew{
  width: 300px;
  align-items: center !important;
  padding: 10px;
  background-color: #0201018c;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 310px;
}

.buttonlog:hover{
  background-color: #b36b00;
}

.buttonnew:hover {
  background-color: #000000;
}

